.homeimage{
  background-image: url("../images/home.png");
  background-repeat: no-repeat;
  background-size: 72vw 67vh;
  width: 45vw;
  height: 35vh;
  border: 2px solid #ccc;
  background-color: ivory;
  border-radius: 9px;
  width: 55vw;
  padding: 8%;
  text-align: center;
  margin: auto;
  margin-top: 7%;
  height: 34vh;
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);  
}

.topright{
  position: absolute;
  top: 10%;
  right: 12%;
}
.bottomright {
  position: absolute;
  bottom: 12%;
  right: 12%;
  
}
.loginbtn{
border-radius: 5px;
border-width: 0px;
padding: 5px 10px 8px 10px;
width: 8vw;
height: 5vh;
background: linear-gradient(to right, #45a1bb, #c950c1);
margin: 15px;
}

.signupbtn{
  border-radius: 5px;
  border-width: 0px;
  padding: 5px 10px 8px 10px;
  width: 8vw;
  height: 5vh;
  background: linear-gradient(to right, #45a1bb, #c950c1);
  margin: 15px;
}


@media(max-width:900px){
.homeimage{
  height: 60vh;
  width: 80vw;
  background-size: 100vw 75vh;

}

.topright{
  top: 13%;
  right: 12%;
}
.bottomright {
  bottom: 8%;
  right: 6%;
  
}

}
